.container {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 360px;
  height: 620px;
}

.App {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  padding: 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
