.onboardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center; /* not working */
  align-items: center;
  position: relative;
}
.top {
  margin-bottom: 32px;
}

.submitBtn {
  /* margin-top: auto; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.topTitle {
  margin-bottom: 16px;
}

.bottomTitle {
  margin-bottom: 40px;
}
